.h1 {
  font-size: 36px;
}

.searched-city:hover {
  cursor: pointer;
  background-color: lightgrey;
}
h2 {
  font-size: 40px;
}

.hide {
  display: none;
}

#forecast {
  display: flex;

}    

h3 {
  font-size: 20px;
}